h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
*, *:focus, *:after, *:before {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
	box-sizing: border-box!important;
	outline: none;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
article,aside,footer,header,nav,section,canvas {
	display: block;
}
input {
	outline: none;
	border: none;
	background: none;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.bg-btn {
  button {
    background-color: var(--btn);
    color: var(--white);
  }
}

.preview {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--bg);
  overflow: hidden;
  > div {
    max-height: 300px;
  }
  &__video {
    padding-bottom: 70%;
    position: relative;
    @media(max-width: 1200px) {
      padding-bottom: 50%;
    }
    video {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__iframe {
    padding-bottom: 70%;
    position: relative;
    @media(max-width: 1200px) {
      padding-bottom: 50%;
    }
    iframe {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__img {
    margin: 0 auto;
    @media(max-width: 1200px) {
      padding-bottom: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.widget {
  position: relative;
  &__bg {
    padding-bottom: 30%;
    background-color: var(--bg);
    overflow: hidden;
    max-height: 150px;
    position: relative;
    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  
}

.content {
	p {
		margin: 1em 0;
	}
	h1 {
		display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
	h2 {
		display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
	h3 {
		display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
	h4 {
		display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
	h5 {
		display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	}
	ul {
		display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	}
	ol {
		display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
	}
}